.idea
src/main/python/__pycache__
src/main/python/components/__pycache__
src/main/python/infoscreens/__pycache__
src/main/python/learninggame/__pycache__
src/main/log
userdata/profiles/profilepicture
userdata/profiles/profiles.json
Munkaterv_JN8PXT.pdf
Designer.lnk